<%= form_for(@user) do |f| %>
  
    <div class="field">
      <%= f.label :昵称 %><br>
      <%= f.text_field :name %>
      <label><%=@user.errors[:name][0] if not @user.errors[:name].empty? %></label>
    </div>
    <% if not session[:userid] %>
    <div class="field">
      <%= f.label :密码%><br>
      <%= f.text_field :password %>
      <label><%=@user.errors[:password][0] if not @user.errors[:password].empty? %></label>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :介绍 %><br>
      <%= f.text_area :intro,:size=>'30*20' %>
      <label><%=@user.errors[:intro][0] if not @user.errors[:intro].empty? %></label>
    </div>
    <div class="field">
      <%= f.label :邮件 %><br>
      <%= f.text_field :email %>
      <label><%=@user.errors[:email][0] if not @user.errors[:email].empty? %></label>
    </div>
    <div class="field">
      <%= f.label :电话 %><br>
      <%= f.text_field :phone %>
      <label><%=@user.errors[:phone][0] if not @user.errors[:phone].empty? %></label>
    </div>
  <div class="actions">
    <% if session[:user] %>
        <%= f.submit name='确定修改'%><br><br>
        <p><%=link_to '我发布的手机',{controller:"phones",action:"my"}%></p>
        <p><%=link_to '我的订单',{controller:"orders",action:"index"}%></p>
    <% else %>
        <%= f.submit name='快速注册'%>
    <% end %>
  </div>
  
<% end %>
