<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @item.phone_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @item.cart_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
